
<!DOCTYPE html>
<html>
  <head>
    <title>{{ __('layout.title') }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/tailwind.css" rel="stylesheet">
  </head>

  <body>
    {% include("layout/_header.njk") %}

    <div class="p-3">
     {% block content %}{% endblock %}
    </div>
  </body>
</html>
