{% extends "layout.njk" %}

{% block content %}

<div class="text-2xl capitalize mb-6"> {{ __('user.user-details') }} </div>

<table>
  <tr>
    <td class="font-bold">
      {{__('user.id') }}
    </td>
    <td>
      {{ user.id }}
    </td>
  </tr>

  <tr>
    <td class="font-bold">
      {{__('user.created_at') }}
    </td>
    <td>
      {{ user.created_at }}
    </td>
  </tr>

  <tr>
    <td class="font-bold">
      {{__('user.updated_at') }}
    </td>
    <td>
      {{ user.updated_at }}
    </td>
  </tr>
</table>

{% endblock %}
